.warning{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    ;
    
}
.imageWarning{
 
    width: 100px;
    height: 85px;
    top: 20px;
    left: 100px;

}

.textWarning{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 220px;
    height: 78px;
    top: 134px;
    left: 51px;
    gap: 8px;
    
}